@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="school">
            <a href="http://nwmissouri.edu">
                <img src="~/Images/northwest.png" alt="NWMSU" width="100" style="height:auto;">
                <h3>Northwest Missouri State University</h3>
            </a>
            <div class="details">
                <b>Location:</b> Missouri, MO  <br>
                <b>Years Attended:</b> 2012-2013  <br>
                <b>Major:</b> Broadcasting and Production  <br>
            </div>

            <h4>Honors, Awards and Accomplishments</h4>
            <ul>
                <li>Member of the Women's tennis team</li>
                <li>Athletics Scholarship</li>
            </ul>
        </div>
        <div class="school">
            <a href="http://www.augusta.edu"><img src="~/Images/augusta.png" alt="AU" width="100" style="height:auto;"><h3>Augusta University</h3></a>
            <div class="details">
              
                    <b>Location:</b> Augusta, GA <br>
                       
                <b>Years Attended:</b> 2013 - 2017 <br>
                <b>Degree:</b> Bachelor of Science <br>
                <b>Major:</b> Computer Science <br>
                <b>Minor:</b> Mathematics <br>
            </div>
            
                <h4>Honors, Awards and Accomplishments</h4>
                <ul>
                    <li>Member of the Women's tennis team</li>
                    <li>Athletics Scholarship</li>
                    <li>Tommy Werrick Scholar-Athlete Award: student-athlete with the highest GPA</li>
                    <li>Dean’s List (four semesters)</li>
                    <li>Athletics Honor Roll, Gold Level, 2013-14/2014-15</li>
                    <li>NACDA, Athletics Directors Association, Academic Achievement Award 2014-15</li>
                </ul>
        
        </div>