@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="picture">
            <img src="~/Images/portrait.jpg" alt="portrait" width="250" style="height:auto;">
            <p> I am currently studying Computer Science (major) and Mathematics (minor) in Augusta University. The experience of being a student athlete far away from home has been really challenging. It helped me develop some new skills such as teamwork, interpersonal skills, communication skills, and adaptability. </p>
            <p>I have learned to program in C#, x86 Assembly, Java, and Python. Also, I created a website using HTML and CSS3. I am motivated to learn more programming languages in order to apply them to real world tasks.</p>
            <h3>About me</h3>
            <p>Born in Barcelona, Spain in 1994. I started playing tennis when I was 7 years old, and I loved this sport since the moment I held my first racket. I cannot imagine how my life would have been without tennis. I had the opportunity to come to the US with an athletic scholarhship, and I took it right away. </p>
            <p>When I first came to the US, I was a student-athlete in Northwest Missouri State University in Maryville, Missouri. I was undecided about my major. After a year in that school, I decided I wanted to study to Augusta University. That's when I discovered my major (computer science).</p>
            <p>I knew it was not an easy decision to come to the US because of everyone I left behind in Spain. But I still see my family and friends over Christmas and Summer break. I definitely made the right choice about coming to the US to pursue my bachelor's degree because of everything I learned here. It has been a great experience so far and I cannot wait to see what is to come.</p>
        </div>
       
